

body{
  background-color: black;
  color: white;
}
.cursor{
  cursor: pointer;
}
.navbar{
  background: darkorange;
}
.card:hover{
  scale: 1.05;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #1e1e1e00;
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
  border: 2px solid #1e1e1e; 
}
.dropdown-menu{
  max-height: 200px;
  overflow-y: auto;
}